// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "masthead.scss";
@import "showcase.scss";
@import "icons.scss";
@import "testimonials.scss";
@import "call-to-action.scss";
@import "footer.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.hidden {
  display: none;
}

#action-box {
  background: $red;
  border: 2px solid darken($red, 10%);
}

.features-icons {
  h3 {
  font-weight: 800;
  }
  color: #fff;
}
