<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <img src="../assets/media/img/logos/logo_default_dark.png" width="85%" height="85%">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div *ngIf='content != undefined && !submitted' class="content col-6">

      <h3>Hi, {{reviewer}}!</h3>
      <p>{{content['review']['personalMessage']}}</p><br>
      <div class="jumbotron">
        <div>{{content['draft']}}</div>
      </div>

      <ng2-file-input [drop-text]="'Drop the file down here'" [browse-text]="'Upload file'" (onAction)="onAction($event)"></ng2-file-input>

      <form id="feedback-form">
        <div class="form-group">
          <label for="exampleTextarea"><h6>Feedback</h6></label>
          <textarea class="form-control" id="exampleTextarea" rows="6" placeholder="Feedback" [(ngModel)]="feedback" name="feedback"></textarea>
        </div>
      </form>
      <div style="text-align: center" >
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </div>
    <div *ngIf='submitted' class="col-6">
      <h2 style="text-align: center; margin-top: 50px">You have submitted</h2>
      <div [style.height]="height"></div>
    </div>
  </div>
</div>
